.Rproj.user
.Rhistory
.RData
.Ruserdata

#specific folders to ignore
/Data
/Model/guidebook_dinamica_5
/Model/Useful_submodels
/Model/Dinamica_models/Model_backup
/Model/Dinamica_models/Model_testing
/Results
/PopulationModel_ValPar
/Scenario_trans_rates
